<div class="section" style="max-height:500px;">
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="https://lorempixel.com/900/500?r=1" style="max-height:100%;" width="100%" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<section class="bg-success backdrop-logo" style="padding-top:50px;padding-bottom:50px;">
  <div class="container">
    <div class="row">
      <div class="push-sm-2 col-sm-8">
        <h1 class="display-3 text-center text-white">
          <i class=" fa fa-users"></i><br>
          About Us
        </h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <br>
    <ngb-tabset type="pills">
      <ngb-tab title="About">
        <ng-template ngbTabContent>
          <div class="row" style="padding-top:20px;">
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="2000ms">
              <div class="card mb-3">
                <div class="card-block">

                  <h3 class="card-title text-primary text-center">Simple E-Store Templates for a Growing Company</h3>
                  <p class="card-text">
                    This templated website can easily be turned into your own e-store
                    to quickly get your content out to your customers.
                  </p>
                  <p class="card-text">
                    I have years of experience creating secure websites that allow for
                    easy data manipulation by incorping RESTful data endpoints across multiple
                    Amazon services to keep your content both secure and to store it at a
                    low cost.
                  </p>

                  <b class="bold">
                    Features and Services involved:
                  </b>
                  <ul>
                    <li>Uses DynamoDB that can handle any small business needs for fast and free storage</li>
                    <li>Amazon Cognito for secure admin access to easily manage all of your data</li>
                    <li>Amazon Lambda used for a serverless architecture to perform backend tasks such and email notifications and dynamoDB data retrieval</li>
                    <li>Display your store content in an eligant and easy to see layout using the front end Bootstrap framework</li>
                    <li>Add support for a credit payment system through Authorize.net</li>
                    <li>Keep track of your stock and availability through the admin interface</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Testimonials</b></ng-template>
        <ng-template ngbTabContent>

          <h3 class="text-center center text-success">Customer Testimonials</h3>

          <div class="row">
            <blockquote>
              “The service was amazing ,highly recommend!”
              <p class="text-muted">–Jeanne Kearney Ritchie</p>
            </blockquote>
          </div>
          <div class="row" style="padding-top:20px;">
            <blockquote>
              “The Crystal Clean crew just left my house! They were fantastic and friendly... I feel so much better knowing that the ducts are clean! Recently, we started a simple home project that turned into a MAJOR project, when we removed the vent grate I couldn't believe all the gross stuff that was in there!! I had met Mike Wine a while back and he had told me about Crystal Clean Duct Service so I knew I should call him. I called, he was out the next day, gave me an estimate and we scheduled the cleaning. EASY. I was very impressed with everyone and would highly recommend them!”
              <p class="text-muted">– Dawn Gardner</p>
            </blockquote>
          </div>
          <div class="row" style="padding-top:20px;">
            <blockquote>
              “Crystal Clean Duct Service did an excellent job for one of my relatives in the Washington DC area! She was very pleased with the service. They also do a great job on dryer vent cleaning!”
              <p class="text-muted">– Patricia Edwards</p>
            </blockquote>
          </div>
          <div class="row" style="padding-top:20px;">
            <blockquote>
              “Tried a groupon deal from another company just to find out it was a scam. Said we had mold and was going to cost a lot of money to get the mold out, etc... Thankfully I reached out to Crystal Clean for a 2nd opinion and they not only verified that I did not have mold, they actually did a superior job in cleaning our duct work as well. Never again will I fall for a scam con job of a company trying to take advantage of homeowners. Thank you Crystal Clean for terrific service!! I would highly recommend!”
              <p class="text-muted">– Tommy Carlyle</p>
            </blockquote>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </div>
</section>
