
<div class="section">
  <div class="container">
    <i [ngStyle]="{ 'display': logginSpinner }" style="text-align:center;" class="fa fa-spinner fa-spin fa-3x text-info col-md-4 push-md-4"></i>
    <div class="row row-eq-height">

      <div *ngFor="let row of items" class="col-md-4" style="padding-top:20px;">
        <div class="card mb-3">
          <img class="card-img-top" src="{{row.mainImage}}" width="100%;" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">
              <a href="#" [routerLink]="['/item', row.category, row.name]">
                {{row.name}}
              </a>
            </h4>
            <p class="card-text">{{row.description}}</p>
            <a href="#" [routerLink]="['/item', row.category, row.name]" class="btn btn-success">View</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<br>
